<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <title>لوحة التحكم</title>
    <link href="/css/main.ffc32168.css" rel="stylesheet">
</head>

<body>
    <% if (token) { %>
        <script>
            window.token ="<%= token %>"
        </script>
      <% } %>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="text/javascript" src="/js/main.99a47a93.js"></script>
</body>

</html>
