<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <title>الدخول للوحة التحكم</title>
    <style>
        *{
        box-sizing: border-box
        }
        body {
            margin: 0;
            padding: 0;
            background-color: #fafafa;
            direction: rtl;
            font-family: 'Cairo', sans-serif !important;        
        }

        .box-center{
            width: 400px;
            margin: 103px auto;
            background-color: white;
            padding: 40px;
            border: 1px solid #f1f1f1;
        }
        .alert,.form-group label {
              display: flex;
          }
    </style>
</head>
<body>
    <form class='box-center' method="POST" action="/login">
      <% if (error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %>
        <div class="form-group">
          <label for="e">الايميل</label>
          <input type="email" name="email" class="form-control" value="" id="e" placeholder="">
        </div>
        <div class="form-group">
          <label for="p">الباسورد</label>
          <input type="password" name="password" class="form-control" value="" id="p" placeholder="">
        </div>

        <button type="submit" class="btn btn-block btn-primary">الدخول</button>
      </form>
</body>
</html>
