*{
    box-sizing: border-box
}
h1,h2,h3,h4,h5,p,div{
    font-family: 'Cairo', sans-serif !important;    
}
body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    direction: rtl;
    font-family: 'Cairo', sans-serif !important;        
}

.box-center{
    width: 400px;
    margin: 103px auto;
    background-color: white;
    padding: 40px;
    border: 1px solid #f1f1f1;
}
.alert,.form-group label {
    display: flex;
}

.MuiTablePagination-actions-252{
 direction: ltr !important;   
}

.wrapp-border{
    background: white;
    padding: 15px 64px;
    border: 1px solid #f1f1f1;
}

.cover{
    width: 352px;
    height: 200px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}
